@model IEnumerable<_2Hours_Ver2.ViewModels.OrderProductVM>

@{
    ViewBag.Title = "DetailsOrderProduct";
}

<h2>DetailsOrderProduct</h2>

<table class="table">
    <tr>
        <th>
            OrderNumber
        </th>
        <th>
           ProductId
        </th>
        <th>
            ProductName
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditOrderProduct", new { id = item.OrderNumber, productId = item.ProductId}) |            
            @Html.ActionLink("Delete", "DeleteOrderProduct", new { id = item.OrderNumber, productId = item.ProductId })
        </td>
    </tr>
}

</table>
