<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("ViewCart", "Home")" data-toggle="tooltip" title="Cart">
                            <span class="glyphicon glyphicon-shopping-cart" data-toggle="tooltip" title="Cart"></span> Shopping Cart
                            @if (Session["shoppingCart"] != null)
                            {
                                <span class="badge">@Session["shoppingCart"]</span>
                            }
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    @{
        if (Request.IsAuthenticated)
        {

            @Html.ActionLink("User Area", "_User", "Home");
            @Html.Raw("&nbsp;|&nbsp;");
            @Html.ActionLink("Profile Area", "_Profile", "Home");
            @Html.Raw("&nbsp;|&nbsp;");            
        }
    }

    @{
        if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            @Html.ActionLink("Orders", "AdminOrders", "Home");
            @Html.Raw("&nbsp;|&nbsp;");
            @Html.ActionLink("Products", "AdminProduct", "Home");
            @Html.Raw("&nbsp;|&nbsp;");
            @Html.ActionLink("Suppliers", "AdminSupplier", "Home");
            @Html.Raw("&nbsp;|&nbsp;");            
        }
    }
    
    @Html.Raw("[")
    @Html.Raw(User.Identity.Name)
    @Html.Raw("]")
    @Html.ActionLink("Logout", "Logout", "Home")
    <br />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>