<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("2hours", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Shop Now", "Index", "Cart")</li>
                    @{
                        if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("User Area", "_User", "Home")</li>

                            if ((User.IsInRole("Admin")))
                            {

                                <li>@Html.ActionLink("Orders", "ManagerOnly", "Home")</li>
                                <li>@Html.ActionLink("Products", "ManagerOnly", "Home")</li>
                                <li>@Html.ActionLink("Suppliers", "ManagerOnly", "Home")</li>

                            }

                            <li><span class="label label-info">@Html.Raw(User.Identity.Name)</span></li>
                            <li><a href="@Url.Action("Logout", "Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Register", "Register", "Home")</li>
                            <li><a href="@Url.Action("Login", "Home")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        }

                    }
                    <li>
                        <a href="@Url.Action("ViewCart", "Cart")" data-toggle="tooltip" title="Cart">
                            <span class="glyphicon glyphicon-shopping-cart" data-toggle="tooltip" title="Cart"></span> Shopping Cart
                            @if (Session["shoppingCart"] != null)
                            {
                                <span class="badge">@Session["shoppingCart"]</span>
                            }
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 2hours.com</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>