@model IEnumerable<_2Hours_Ver2.Product>

@{
    ViewBag.Title = "ShopProducts";
}

<h2>Shop Products</h2>

<div class="pull_right">
    @using (Ajax.BeginForm("Index", "Home", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "searchResults"}, new{ @class = "navbar__search pull-left", novalidate = "novalidate" }))
    {
        <input required="required" placeholder="Search for Product " name="search" value="" type="search" class="search">
        <button type="submit" class="navbar__search__icon" title="Search" data-track-action="navbar" data-track-label="searchicon">
            <i class="fa fa-search"></i>
        </button>
    }
</div>

<div id="searchResults">

</div>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/Content/imgs/img[@item.productID].jpg" width="200" height="200" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producType)
        </td>
        <td>
            @Html.ActionLink("Add to Cart", "Add", "Cart", new { productID = item.productID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
